<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Services.css">
</head>
<body>
    <div class="services-offered">
        <h2 class="what-we-offer">What we offer</h2>
        <div class="offer-parts">            
            <div class="services">
                <h2>1. Retail Fuel Services</h2>
                <ul>
                    <li>Premium quality petroleum products</li>
                    <li>Multiple fuel grades to meet your needs</li>
                    <li>Competitive pricing</li>
                    <li>Convenient station locations</li>
                </ul>
            </div>
            
            <div class="services">
                <h2>2. Fleet Management Solutions</h2>
                <ul>
                    <li>Corporate fuel card programs</li>
                    <li>Bulk fuel supply for businesses</li>
                    <li>Customized fuel management plans</li>
                    <li>Detailed consumption tracking</li>
                </ul>
            </div>
            
            <div class="services">
                <h2>3. Company Vehicle Services</h2>
                <ul>
                    <li>Professional fleet operations</li>
                    <li>Maintained company vehicles</li>
                    <li>Trained and licensed drivers</li>
                    <li>Strict safety protocols</li>
                </ul>
            </div>
            
            <div class="services">
                <h2>4. Customer Support</h2>
                <ul>
                    <li>24/7 service availability</li>
                    <li>Professional and courteous staffs</li>
                    <li>Quick response to inquiries</li>
                    <li>Customer feedback mechanism</li>
                </ul>
            </div>
        </div>
        
        <div class="btn-goback">
                    <div class="back-to-main">
            <a href="/Mobile Application/Pages/MainPage.html">Back to main page</a>
        </div>
        </div>
    </div>    
</body>
</html>