<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="./sectionone.css">
    <title>Document</title>
</head>
<body>
   <div class="section-one">
        <div class="bg-overlay"></div>

        <div class="container">
            <div class="content-wrapper">
                <h1 class="headline">Fueling Zambia's Future</h1>
                <h2 class="sub-headline">Your Trusted Partner in Quality Fuel Services</h2>
                <div class="cards-grid">
                    <div class="about-us card">
                        <h2>About Kombe Leapz Enterprises</h2>
                        <p>Kombz Leap Enterprises Limited has rapidly established itself as a leading fuel service 
                            provider in Zambia. We are committed to delivering efficient, high-quality, and ethical 
                            fuel and support services across the nation.</p>
                    </div>

                    <div class="our-vision card">
                        <h2>Our vision</h2>
                        <p>To be Zambia's most dependable and sustainable fuel service provider, driving innovation and 
                            excellence while empowering communities and fueling sustainable growth for a brighter future.</p>
                    </div>
                </div>      
            </div>
        </div>        
   </div>
    <script src="./sectionone.js"></script>
</body>
</html>