<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="./sectionthree.css">
    <title>Document</title>
</head>
<body>
   <div class="section-three">
       <div class="container">
        <h2>Our Leadership Team</h2>
        <div class="roles">

            <div>
                <h5 class="name">Kombe Mwape</h5>
                <p class="title">Finance Director</p>
                <p class="job-description">Overseeing financial operations, ensuring fiscal responsibility and sustainable growth for the company.</p>
            </div>

            <div>
                <h5 class="name">Annie Namuuya Mwape</h5>
                <p class="title">Chief Executive Officer & Director Human Resources and Administration</p>
                <p class="job-description">Leading our human capital strategy and overall company vision with dedication to employee 
                    welfare and organizational excellence.</p>
            </div>          

            <div>
                <h5 class="name">Chifwawaka</h5>
                <p class="title">Director of Operations</p>
                <p class="job-description">Managing day-to-day operations and ensuring efficient service delivery across all our stations.
                    </p>
            </div>
        </div>

        <div class="services">
            <a 
                href="../ServicesOffered/Services.html"
                target="_blank"
                rel="noopener noreferrer"
                class="services-btn">Services Offered →
            </a>
        </div>
       </div> 
   </div>
    <script src="./sectionthree.js"></script>
</body>
</html>