.employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.employee-form img {
    width: 300px;
    border-radius: 98px;
    /* border: 2px solid #10100f; */
    align-items: center;
}